* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

button {
    position: relative;
    width: 100px;
    height: 100px;
    left : 25%;
}

@media screen and (orientation : portrait) {
    button {
        background-color: orange;
    }
}

@media screen and (orientation : landscape) {
    button {
        background-color: teal;
    }
}
